* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    background-color: #ffff;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 15px;

    border-radius: 36px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 14px 14px 28px #919191,
        -14px -14px 28px #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background: local;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: inset 24px 24px 48px #e0e0e0,
        inset -24px -24px 48px #ffffff;
    color: gray;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 40%;
    margin: 8px;
    font-size: 1rem;
    cursor: pointer;
    
}
button:hover{
    transform: scale(1.1);
}
.equal{
    width: 120px;
    background: #353232;
    border-radius: 30% !important;
    
}
.color{
    background-color: orangered;
}